.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 10px 30px 30px 30px;
}

.card {
    width: calc(33.33% - 200px);
    padding: 30px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    text-align: center;
    background-color: #fff;
}


.card:hover {
    box-shadow: 4px 8px 16px rgba(126, 126, 126, 0.598);
}

.card p {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.card h1 {
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 12px;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: fantasy;
    color: #969696;
    background-color: #eeeeee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}


.btn:hover {
    background-color: #d9d9d9;
}


.btn:active {
    color: white;
    background-color: #494949;
}

.btn_del {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #3e3e3e;
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_del:hover {
    background-color: #d90000;
}

.btn_edit {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: #3e3e3e;
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_edit:hover {
    background-color: #57b400;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.controls-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
}

.controls-wrapper select {
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.controls-wrapper input {
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
}

.controls-wrapper label {
    margin-right: 10px;
    font-weight: 600;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .cards {
        margin: 10px 20px;
    }

    .card {
        width: calc(50% - 90px); 
        padding: 20px;
    }

    .card h1 {
        font-size: 18px;
    }

    .card h2 {
        font-size: 15px;
    }

    .card p {
        font-size: 16px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }

    .btn_del, .btn_edit {
        top: 10px;
        width: 20px;
        height: 20px;
    }

    .btn_edit {
        left: 10px;
    }

    .btn_del {
        right: 10px;
    }

    .controls-wrapper {
        flex-direction: column; 
        padding: 10px;
        gap: 10px; 
    }

    .controls-wrapper select,
    .controls-wrapper input {
        width: 100%; 
        margin-bottom: 10px;
    }

    .controls-wrapper label {
        display: block; 
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .cards {
        margin: 10px 10px;
    }

    .card {
        width: 100%; 
        padding: 20px;
    }

    .card h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .card h2 {
        font-size: 14px;
    }

    .card p {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .btn {
        padding: 7px 14px;
        font-size: 14px;
    }

    .btn_del, .btn_edit {
        top: 7px;
        width: 24px;
        height: 24px;
    }

    .btn_edit {
        left: 7px;
    }

    .btn_del {
        right: 7px;
    }

    .controls-wrapper {
        flex-direction: column;
        padding: 8px;
        gap: 8px; 
    }

    .controls-wrapper select,
    .controls-wrapper input {
        width: 100%; 
        margin-bottom: 8px;
    }

    .controls-wrapper label {
        display: block; 
        margin-bottom: 4px;
    }
}